@font-face {
    font-family: Montserrat-Regular;
    src: url(font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(font/Montserrat-Bold.ttf);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top:0vh;
    height: 10vh;
    background-color: black;
    z-index: 1000;
}

.logo {
    flex: 1;
    padding-left: 5vw;
    font-family: Montserrat-Bold;
}
.logo a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-bar {
    flex: 1;
    text-align: right;
    padding-right: 5vw;
}
.nav-bar button {
    background-color: none;
    color: #CCCCCC;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid #CCCCCC;
    transition-duration: 0.2s;
    font-family: Montserrat-Bold;
}

.nav-bar button:hover{
    background-color: #CCCCCC;
    color: black;
    border: none;
    border-radius: 10px;
}




/* Above is the stylesheet for the header */

/* Below is the stylesheet for the footer */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-container {
    background-color: #7B7A7B;
    padding-bottom: 0.5rem;
}

footer {
    width: 80%;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin: 4rem; 
}

.footer-heading h2{
    margin-bottom: 2rem;
}

.footer-heading a {
    color: white;
    text-decoration:  none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: black;
    transition: 0.3s ease-out;
}

/* Above is the stylesheet for the footer */

/* general stylesheet */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
html, button {
    font-family: 'Montserrat-Regular';
    background-color: black;
    color: #CCCCCC;
}

/* Below is the main section's style */
.title {
    margin: 0 5vw 0 5vw;
    text-align: center;
}
#page-title{
    font-size: 5vw;
    letter-spacing: 5px;
    font-family: Montserrat-Bold;
}
#page-title::first-letter {
    font-style: italic;
}
.dropdown button{
    border: none;
    border-radius: 10px;
    background-color: #CCCCCC;
    color: black;
    font-family: Montserrat-Bold;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1.5vw;
}

.gallery-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
    margin: 0 10% 0 10%;

}

.gallery-item {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    text-align: center;
    font-family: Montserrat-Bold;
    color: black;
}
.gallery-item:hover {
    transition: 0.3s ease-out;
    opacity: 50%;
    color: white;
}

#digital-photo {
    grid-area: 1/1/3/2;
    background-image: url(image/Digital/photo4.JPG);
    height: 80vh;
    border-radius: 20px 0 0 0;
}
#fuji-super-f {
    grid-area: 1/2/2/3;
    background-image: url(image/Fuji\ Super\ F\ 250D/000005.JPG);
}

#formapan-100 {
    grid-area: 1/3/2/4;
    background-image: url(image/Formapan\ 100/000064900020.jpg);
    border-radius: 0 20px 0 0;
}
#kodak-gold-100 {
    grid-area: 2/2/3/4;
    background-image: url(image/Kodak\ Gold\ 100/000007.JPG);
}
#ilford-pan {
    grid-area: 3/1/4/2;
    background-image: url(image/Ilford\ Pan\ 100/nhatho.jpg);
}
#kodak-portra-800 {
    grid-area: 3/2/4/3;
    background-image: url(image/Kodak\ Portra\ 800/000004.JPG);
}
#kodak-vision-200 {
    grid-area: 4/1/5/3;
    background-image: url(image/Kodak\ Vision\ 2\ 200T/000010.JPG);
    border-radius: 0 0 0 20px;
}
#kodak-vision-500 {
    grid-area: 3/3/5/4;
    background-image: url(image/Kodak\ Vision\ 2\ 500T/000031.JPG);
    border-radius: 0 0 20px 0;
}

