@font-face {
    font-family: Montserrat-Regular;
    src: url(font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(font/Montserrat-Bold.ttf);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top:0vh;
    height: 10vh;
    background-color: black;
    z-index: 1000;
}

.logo {
    flex: 1;
    padding-left: 5vw;
    font-family: Montserrat-Bold;
}
.logo a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-bar {
    flex: 1;
    text-align: right;
    padding-right: 5vw;
}
.nav-bar button {
    background-color: none;
    color: #CCCCCC;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid #CCCCCC;
    font-family: Montserrat-Bold;
    transition: 0.2s ease-in;
}

.nav-bar button:hover{
    background-color: #CCCCCC;
    color: black;
    border: none;
    border-radius: 10px;
}




/* Above is the stylesheet for the header */

/* Below is the stylesheet for the footer */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-container {
    background-color: #7B7A7B;
    padding-bottom: 4rem;
}

footer {
    width: 80%;
    height: 40vh;
    background-color: #7B7A7B;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin: 4rem; 
}

.footer-heading h2{
    margin-bottom: 2rem;
}

.footer-heading a {
    color: white;
    text-decoration:  none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: black;
    transition: 0.2s ease-in;
}

/* Above is the stylesheet for the footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
html, button {
    font-family: 'Montserrat-Regular';
    background-color: black;
    color: #CCCCCC;
}

/* Below is the style for the index page */

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 60px;
    align-items: center;
}

.content-img {
    flex: 1;
    margin: 20px;
}
.content-text {
    flex: 1;
    margin: 20px;
}
.content h1 {
    padding-bottom: 20px;
    font-size: 300%;
}
.content p {
    padding-bottom: 30px;
}

.content button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: none;
    color: #CCCCCC;
    border: solid #CCCCCC;
    transition-duration: 0.2s;
    font-family: Montserrat-Bold;
}

.content button:hover{
    background-color: #CCCCCC;
    color: black;
    border: none;
    border-radius: 50%;
}

/* Above is the style for the index page */
/* Below is the style for the about me page */

.navbar-aboutme{
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: none;
    color: #CCCCCC;
    border: solid #CCCCCC;
    transition-duration: 0.2s;
    font-family: Montserrat-Bold;
}

.button-container button:hover{
    background-color: #CCCCCC;
    color: black;
    border: none;
    border-radius: 50%;
}

.body-div {
    margin: auto;
}

.body-div h1 {
    text-align: center;
    padding: 20px;
    padding-bottom: 20px;
}

.university-info {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
}
.university {
    padding: 3%;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px white;
    border-radius: 10px;
}

.dku, .duke {
    flex: 1;
    width: 80%;
}

.dku img, .duke img{
    padding-bottom: 20px;
}

.degree {
    font-size: large;
    font-weight: bolder;
}

.intro-title {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    padding: 5px;
    width: fit-content;
}

.job {
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}

.job-positions {
    display: flex;
    width: 80%;   
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.position {
    flex: 1;
    margin: 10px 10px;
    background-color: #7B7A7B;
    color: white;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px white;
    border-radius: 10px;
}
.job-title {
    text-align: center;
    font-style: italic;
    font-family: Montserrat-Bold;
}

.job-date {
    font-style: normal;
    font-family: Montserrat-Regular;
    font-size: small;
    padding: 10px
}
ul, ol {
    padding-left: 20px;
}



/* Above is the style for the about me page */

/* Below is the style for my works page */
.myworks {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-height: 90vh;
    border: #7B7A7B solid;
    border-radius: 20px;
    padding: 20px;
}


#bio {
    grid-area: 1/1/2/2;
    height: fit-content;
}

#work-display {
    grid-area: 1/2/3/3;
    border-left: dashed;
    text-align: center;
    overflow: scroll;
}

.grid-item {
    padding: 10px;
}

#bio {
    border-bottom: solid;
    border-width: 0.5px;
}
.mywork-navbar {
    display: flex;
    align-items: center;
}

#logo {
    text-decoration: none;
    color: #CCCCCC;
    font-family: Montserrat-Bold;
    padding-right: 20px;
    border-right: solid;
}

.dropdown-project{
    display:inline-block;
    padding-left: 20px;
}

.dropdown-project button {
    border: none;
    border-radius: 10px;
    background-color: #CCCCCC;
    color: black;
    font-family: Montserrat-Bold;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.5s ease-out;
}

.dropdown-project a{
    text-decoration: none;
    color: black;
    display: block;
}
.project-content {
    position: absolute; 
    display: none;
    background-color: #CCCCCC;
    padding: 5px 10px;
    border-radius: 10px;
}

.dropdown-project:hover .project-content {
    position: absolute; 
    display: block;
    background-color: #CCCCCC;
    padding: 5px 10px;
    border-radius: 10px;
}

.dropdown-project:hover button{
    background-color: black;
    color: #CCCCCC;
}

.dropdown-project a:hover{
    transition: 1s ease-in;
    font-family: Montserrat-Bold;
}

.mywork-title {
    margin: 30px 0 30px 0;
    font-family: Montserrat-Bold;
}

.mywork-description p{
    margin: 20px 0 20px 0;
}

/* Below is the style sheet for footer for work */
#footer-for-work {
    position: relative;
    padding: 0;
}
.footerForWork-navbar {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerForWork-navbar button {
    background-color: transparent;
    color: #CCCCCC;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid #CCCCCC;
    font-family: Montserrat-Bold;
    transition: 0.2s ease-in;
    font-size: 60%;
}

.footerForWork-navbar button:hover {
    background-color: #CCCCCC;
    color: black;
    border-radius: 10px;
}

/* Below is the work display style sheet */

.photography, .video-essay, .greenGourmet {
    flex: 1;
    width: 50vw;
    height: 40vh;
    border: solid #CCCCCC;
    margin: 0 auto 5vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    /* Below is to align the child div to center */
    color: white;
    border-radius: 20px;
    font-family: Montserrat-Bold;
    font-size: 2vw;
    display: inline-block;
    position: relative;
    z-index: 500;
}

.photography {
    background-image: url(image/Kodak\ Vision\ 2\ 500T/000011.JPG);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-essay {
    background-image: url(gif/video-background.gif);
}

.video-essay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greenGourmet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-description {
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 40vh;
    font-family: Montserrat-Regular;
    font-size: medium;
    background-color: black;
    opacity: 0;
}

.work-description:hover {
    transition: 0.3s ease-in-out;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 40vh;
    font-family: Montserrat-Regular;
    font-size: medium;
    border: solid #CCCCCC;
    opacity: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #CCCCCC;
    box-shadow: 0px 10px 5px #CCCCCC;
}

.work-description button {
    margin: 2vh;
    background-color: none;
    color: #CCCCCC;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid #CCCCCC;
    transition-duration: 0.2s;
    font-family: Montserrat-Bold;
}

.work-description button:hover{
    background-color: #CCCCCC;
    color: black;
    border: none;
    border-radius: 10px;
}








/* Above is the style for my works page */
/* Below is the style for contact page */
#talk-panel {
    text-align: center;
}
.contact-form{
    margin: auto;
    background-color: #7B7A7B;
    color: white;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px white;
}
.contact-form h1 {
    padding-bottom: 20px;
    font-family: Montserrat-Bold;
}
label {
    text-align: left;
    font-weight: bold;
}
.choice, input, textarea {
    float: right;
    font-weight: normal;
}

textarea {
    height: 100px;
}

#yourname, #phone, #email, #note {
    width: 40%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-button{
    background-color: #7B7A7B;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid white;
    transition-duration: 0.2s;
    font-family: Montserrat-Bold;
}

.submit-button:hover{
    background-color: white;
    color: black;
    border-radius: 100px;
}

/* Above is the style for contact page */

