@font-face {
    font-family: Josefin Sans;
    src: url(font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf)
}
@font-face {
    font-family: Lora;
    src: url(font/Lora/Lora-VariableFont_wght.ttf)
}


* {
    background-color: #F9F6EE;
    font-family: 'Lora', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}
main {
    flex-grow: 1;
}
html, button {
    font-family: 'Montserrat-Regular';
}

/* Below is the stylesheet for the header */

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #F9F6EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    font-family: 'Josefin Sans';
    color: #333333;
    text-decoration: none;
    font-weight: 700;
}

.logo img {
    width: 50px;
    height: 50px;
}

nav a {
    position: relative;
    font-size: 18px;
    color: #333333;
    font-family: 'Josefin Sans';
    font-weight:normal;
    text-decoration: none;
    margin-left: 40px;
    transition: 0.3s ease-out;
}
nav a:hover {
    color: #3498DB;
}

nav a::before {
    content: '';
    position: absolute; 
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3498DB;
    transition: 0.3s ease-out;
}

nav a:hover::before {
    width: 100%;
}

.hamburger-menu {
    font-size: 24px;
    cursor: pointer;
    display: none; /* Hide the hamburger menu by default on larger screens */
}

/* Adjust the media query to include styles for smaller screens */
@media screen and (max-width: 768px) {
    header {
        padding: 20px 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #F9F6EE;
        display: none;
    }

    .navbar.show {
        display: flex;
    }

    .navbar a {
        margin: 10px 0;
    }

    .hamburger-menu {
        display: block; /* Show the hamburger menu on smaller screens */
    }
}


/* Above is the stylesheet for the header */

/* Below is the stylesheet for the footer */

.footer-container {
    width: 100%;
    margin-top: 40px;
    padding: 30px 30px 30px 30px;
    border-top: solid 0.5px #333333;
}


.footer-container p {
    font-family: 'Josefin Sans';
    color: #333333;
    font-size: 4em;
    text-align: center;
    margin: 0 0 20px;
}
.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    margin: 10px;
    opacity: 0.9;
}

.social-media a i{
    background-color: transparent;
    font-size: 2em;
    color: #333333;
    transition: 0.3s ease-out;
}

.social-media a:hover i{
    color: #3498DB;
}

.footer-nav {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.footer-nav a {
    color: #333333;
    margin: 20px;
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    opacity: 0.9;
    transition: 0.3s ease-out;
}

.footer-nav a:hover {
    color: #3498DB;
}

.line {
    height: 0.5px;
    background-color: #333333;
    margin: 0px 100px 0px 100px;
}
.copyright {
    padding: 30px 0 0 0;
    text-align: center;
    font-family: 'Josefin Sans';
}

.copyright p {
    font-family: 'Josefin Sans';
    font-weight: 'Regular';
    font-size: 0.9em;
}

/* Above is the stylesheet for the footer */

/* Below is the style for the index page */
.index-content {
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 30px 0 100px;
}
#index-img, #overlay-image{ 
    position: relative;
}

#index-image {
    width: 100%;
    max-width: 400px;
}

#overlay-image {
    width: 100%;
    max-width: 153px;
    position: absolute;
    top: 14.5%;
    left: 50%;
    transform: translateX(-31%);
    background-color: transparent;
}

#index-text {
    position: absolute;
    top: 30vh;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 10vw;
    color: transparent;
    background-color: transparent;
    background-image: linear-gradient(to right,  #333333, #F9F6EE, #333333);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300%;
    animation: animatedText 5s infinite alternate-reverse;
}

@keyframes animatedText {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

#index-button {
    width: 8vw;
    height: 8vw;
    background-color: transparent;
    border: solid black 1px;
    position: absolute;
    right: 5%;
    bottom: 12%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease; 
}

#index-button:hover {
    background-color: #3498DB;
    border: #3498DB;
    display: flex;
}

#index-button img {
    margin: auto;
    width: 3vw;
    background-color: transparent;
}

#index-button p {
    display: none;
}

#index-button:hover img {
    display: none;
}

#index-button:hover p {
    display: block;
    font-size: 1.3vw;
    background-color: transparent;
    font-family: 'Josefin Sans';
    font-weight: 'Regular';
    color: #F9F6EE;
}

@media screen and (max-width: 768px) {
    #index-text {
        font-size: 6vw; /* Adjust font size for smaller screens */
    }
}






/* Above is the style for the index page */
/* Below is the style for the about me page */
.about-me-container {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-photo {
    width: 20vw;
    height: 80vh;
    margin-left: 10vw;
}

.profile-photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-description {
    width: 40vw;
}

.profile-description h1 {
    font-size: 100px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #333333;
}

.profile-description p {
    line-height: 1.5;
    font-size: 24px;
    padding: 30px 0 0 0;
}

#resume-button {
    color: #333333;
    padding: 10px 20px;
    width: 100%;
    border: #333333 solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 20px;
    margin-top: 50px;
}

#resume-button:hover {
    background-color: #3498DB;
    border: #3498DB solid;
    color:#F9F6EE;
}

/* Above is the style for the about me page */

/* Below is the style for my works page */

.my-works { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.my-works h1 {
    font-family: 'Josefin Sans';
    font-size: 100px;
    font-weight: 400;
    padding: 40px;
    color: #333333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 80vw;
    height: 60vh;
    margin-bottom: 40px;
}

.project {
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

#visitar {
    background-image: url(image/VisitAR/VisitAR.png);
}

#green-gourmet {
    background-image: url(image/Green\ Gourmet/Logo.png);
    background-position: center;
}

#photo-essay {
    background-image: url(image/Photo\ Essays/tree1.jpg);
}

#video-essay {
    background-image: url(video-essay/video-background.gif);
}

#coming-soon {
    border: #333333 solid;
}

.project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 0.3s ease;
    background-color: transparent;
}

.project-description {
    position: absolute;
    background-color: #333333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 30px;
}

.project-description p {
    background-color: transparent;
    color: #F9F6EE;
    margin-top: 5px;
}

.project-description button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: transparent;
    color: #F9F6EE;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
    transition: ease 0.3s;
}

.project-description button:hover {
    background-color: #3498DB;
    text-decoration: none;
}

.project:hover .project-title {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project:hover .project-description {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.project:hover {
    transform: scale(1.1);
}


.project-title h2 {
    background-color: transparent;
    font-family: 'Josefin Sans';
    white-space: nowrap;
    font-weight: 500;
    font-size: 30px;
    color: #F9F6EE;
}

#coming-soon h2 {
    color: #333333;
}

@media screen and (max-width: 768px) {
    .my-works h1 {
        font-size: 50px;
    }
    .grid-container {
        padding: 0 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 100%; /* Adjust width for smaller screens */
        overflow: scroll;
    }
}

/*VisitAR */

.overlay-heading{
    width: 100vw;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay-heading h2 {
    background-color: transparent;
    font-family: 'Josefin Sans';
    font-size: 7vw;
    color: #F9F6EE;
    white-space: nowrap;
}

#visitar-heading {
    background-image: url(image/VisitAR/VisitAR.png);
}

#green-gourmet-heading {
    background-image: url(image/Green\ Gourmet/Logo.png);
}

#urbanized-loneliness-heading {
    background-image: url(image/Photo\ Essays/tree1.jpg);
}

#video-essay-heading {
    background-image: url(video-essay/video-background.gif);
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay-content p {
    padding: 30px 0 0 0;
    font-size: 2vw;
    line-height: 1.5;
    width: 50vw;
}
.overlay-content img {
    padding: 30px 0 0 0;
    width: 50vw;
}

@media screen and (max-width: 768px) {
    .overlay-heading {
        height: 20vh;
    }
}


/* Above is the style for my works page */

/* Below is the style for contact page */

.contact-form {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.contact-image {
    border-right: solid #333333 0.5px;
    padding-right: 5vw;
}
.contact-image img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}
.contact-box {
    width: 600px;
    height: 600px;
    padding-left: 5vw;
}

.contact-box h1 {
    font-family: 'Josefin Sans';
    color: #333333;
    font-weight: 400;
    font-size: 70px;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.form-group textarea {
    resize: vertical;
}

.submit-btn {
    background-color: transparent;
    color: #333333;
    padding: 10px 20px;
    width: 100%;
    border: #333333 solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 20px;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #3498DB;
    border: #3498DB solid;
    color:#F9F6EE;
}

.contact-info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.contact-info a {
    color: #333333;
}

.contact-info a:hover {
    color: #3498DB;
}

.contact-info a:visited {
    color: #333333;
}

.contact-info p {
    margin-bottom: 10px;
}

/* Above is the style for contact page */

